/target/

/Cargo.lock
/tmp/

# Generated
/src/uld_raw.rs
/examples/pins.in

# C sources (placed by you)
/VL53L5CX_ULD_API/
/VL53L5CX_ULD_driver_2.0.0/

/c-examples-TEMP/

# git worktrees
/wts/

# TEMP
/err*.log
