# Rust
#
# Note: If using Multipass VM's, use a shared '~/target' instead.
/target/

/Cargo.lock
/tmp/

# Generated
/src/uld_raw.rs
/examples/pins.in

# C sources (placed by you)
/VL53L5CX_ULD_API/

# TEMP
#/c-examples-TEMP/
